# Replace these with your own local database credentials!
POSTGRES_USER=your_user_here
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=your_db_name_here

# Make sure this matches the credentials above
DATABASE_URL=postgresql://user:password@db:5432/dbname